@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');

@theme {
  --font-sans: "Lexend", ui-sans-serif, system-ui, sans-serif;
}

@media print {
  @page {
    margin: 0;
    size: auto;
  }
  
  body {
    background: white !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  
  .print-container {
    width: 100% !important;
    height: auto !important;
    margin: 0 !important;
    padding: 2cm !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
  }

  .no-print {
    display: none !important;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
